<!-- Photo Grid -->
<div class="row-title"> 
            <h2 class="title animated  pulse delay-1s">Our Album</h2>
            <p class="lead">Come and join our beautiful park, we save nature for the future. We protect the lives. </p>
</div>

<div class="row-img animated zoomIn delay-4s"> 
        <div class="column-img">
          <img src="assets/images/birdp.jpg">
          <img src="assets/images/aurora.jpg" >
          <img src="assets/images/dark.jpg" >
          <img src="assets/images/green.jpg">
          
        </div>
        <div class="column-img">
          <img src="assets/images/aurora.jpg" >
          <img src="assets/images/dark.jpg" >
          <img src="assets/images/elephant.jpg">
         <img src="assets/images/winter.jpg">    
        </div>  
        <div class="column-img">
         <img src="assets/images/rose.jpg">
         <img src="assets/images/mountain.jpg">
         <img src="assets/images/green.jpg">
         <img src="assets/images/elephant.jpg">
        </div>
        <div class="column-img">
          <img src="assets/images/swan.jpg">
          <img src="assets/images/sea.jpg">
          <img src="assets/images/dark.jpg">
          <img src="assets/images/mountain.jpg">        
      </div>
     </div>