<!-- <div class="banner-image">
        <div class="banner-text">
          <h1>I am Jane Doe</h1>
          <h3>And I'm a wwwPhotographer</h3>
          <button>Hire me</button>
        </div>
</div> -->

<section class="banner-row banner-row--bg-fixed">
        <div class="text-component text--center">
            <h1>AWARD WINNER</h1>
            <p></p> 
        </div>
</section>