<html>

    <body>

            <% include partials/nav_home.ejs %>
            <% include partials/services.ejs %>
            <% include partials/banner.ejs %>
            <% include partials/things_todo.ejs %>
            <% include partials/album.ejs %>

            
         <!-- nodemon app.js  -->
        <!-- https://www.youtube.com/watch?v=rin7gb9kdpk&list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp&index=30   -->
         
    </body>
</html>